@import url('normalize.css');


body {
    background-color: grey;
}

input {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

fieldset {
    width: 200px;
    margin: 50px auto;
    border-radius: 10%;
    padding: 20px;

}


.result h2 {
    text-align: center;
}

input[type="submit"] {
    background-color: bisque;
}





