


body {
    background-color: grey;
}

input {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

form {
    margin: 50px auto;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
}


.result h2 {
    text-align: center;
}

input[type="submit"] {
    background-color: bisque;
}
